<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Console Panel</title>
	<link rel=stylesheet type='text/css' href="{{ url_for('static', filename='style.css') }}">
  <script type='text/javascript' src="{{ url_for('static', filename='ckeditor-standard/ckeditor.js') }}"></script>
</head>
<body class="flaskr">
<div class="page">
  <h1>博客后台管理系统</h1>
  <div class=metanav>
  <ul class="navbar">
    <li><a href="{{ url_for('show_admin') }}">后台首页</a> / </li>
    <li><a href="{{ url_for('show_entries') }}">博客首页</a> / </li>
    <li><a href="{{ url_for('add_entry') }}">新增</a> / </li>
    <li><a href="#">检索</a></li>
  </ul>
  {% if session.logged_in %}
    <a href="{{ url_for('logout') }}">登出</a>
  {% endif %}
</div>
{% for message in get_flashed_messages() %}
  <div class=flash>{{ message }}</div>
{% endfor %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
{% block body %}{% endblock %}
</body>
</html>