{% extends "admin_layout.html" %}
{% block body %}

<div class="articleList">
	<table class="articleListTable ">
	<tr>
	<th>ID</th> <th>Title</th> <th>Edit</th> <th>Delete</th>
	</tr>
	{% for row in articles %}
	<tr>
	<td>{{row.id}}</td>
	<td><a href="/article?id={{row.id}}" style="text-decoration: none;">{{ row.title }}</a></td>
	<td><a href="/edit?id={{ row.id }}">编辑</a></td> 
	<td><a href="/delete?id={{ row.id }}">删除</a></td>
	</tr>
	{% endfor %}
	</table>
	

	<div class="pageBar">
		<table>
		<tr>
		<td>
		<a href="/admin?page=0" style="margin-left: 5px">首页</a>
		<a href="/admin?page={{pagetotal[0]-20}}" style="margin-left: 5px">上一页</a>

		{% for index in pages %}
		{% if index*20 == pagetotal[0] %}
		  <a href="/admin?page={{ index*20 }}" style="color: red; margin-left: 5px">{{index+1}}</a>
		{% else %}
		  <a href="/admin?page={{ index*20 }}" style="margin-left: 5px">{{index+1}}</a>
		{% endif %}
		{% endfor %}

		{% if pagetotal[0] + 20 > pagetotal[2] %}
		<a href="#" style="margin-left: 5px" style="margin-left: 5px">下一页</a>
		{% else %}
		<a href="/admin?page={{pagetotal[0]+20}}" style="margin-left: 5px">下一页</a>
		{% endif %}

		<a href="/admin?page={{pagetotal[1]}}" style="margin-left: 5px">尾页</a>
		</td>
		<td>
		<form action="{{ url_for('show_entries') }}" method=post>
		<input type=text name=pagenumber style="width: 50px; margin-left: 5px">
		<input type=submit value=跳转>
		</form>
		</td>
		</tr>
		</table>
	</div>

</div>

{% endblock %}