{% extends "admin_layout.html" %}
{% block body %}

{% if session.logged_in %}
<form action="{{ url_for('add_entry') }}" method=post class=add-entry>
  	<div class="articleEdit">
		<div id="articleEdit-title">标题：<input type="text" name="title"></div>
		<textarea name=text rows=30 id="addEditor" class="ckeditor"></textarea>
	</div>
	<input type=submit value="Share">

</form>

<script type="text/javascript">
    // 用CKEditor替换<textarea id="editor1">
    // 使用默认配置
    window.onload = function fill() {
		CKEDITOR.replace('addEditor');
	};
</script>
{% endif %}

{% endblock %}